---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* ===== Custom fonts ===== */

html, body,
.page__content,
.sidebar,
.author__bio,
.author__content,
.archive,
.archive__item-excerpt {
  font-family: "Lora", serif !important;
}

/* Headings + site title + author name */
h1, h2, h3, h4, h5, h6,
.site-title,
.page__title,
.author__name,
.author__content .author__name,
.masthead__menu-item a {
  font-family: "Montserrat", sans-serif !important;
}

/* ===== Use more width while keeping the sidebar ===== */
@media (min-width: 64em) { /* large breakpoint */
  .page {
    width: 100% !important;
    max-width: none !important;
    margin-right: 0 !important;
  }
}

.author__bio {
  text-align: center;
}


